:root {
    --fuentes: "Bebas Neue", sans-serif;
    --fuenteSecundaria: "Exo 2", sans-serif;
    --FuenteTercera: "Roboto Condensed", sans-serif;
    --fuenteCuarta : "Archivo Black", sans-serif;
    --fuenteMono : "Roboto Mono", monospace;
    --roboto :"Roboto", sans-serif;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: var(--fuentes);
}


.container_1 {
    display: grid;
    border-bottom:0.5vh solid rgb(209, 139, 139);
    grid-template-areas: 
        "menu"
        "texto-principal";
    grid-template-columns: auto;
    grid-template-rows: 12vh 90vh;
}

.menu {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5vh solid rgb(209, 139, 139);
    background-color: rgb(23, 40, 40);
    grid-area: menu;
}

.texto-h1-menu {
    height: 100%;
    width: 100%;
    color: rgb(209, 139, 139);
    margin-top: 2vh;
    margin-left: 14vh;
    font-size: 8vh;
}

.icon-img {
    width: 11vh;
    display: block;
    position: absolute;
    margin-left: 2vh;
}

.texto-principal {
    background-color: red;
    grid-area: texto-principal;
}

.menu-referencias {
    list-style-type: none;
    padding: 1vh;
    margin: 0;
    margin-right: 40vh;
    gap: 4vh;
    display: flex;
    justify-content: space-around;
}

.text-menu {
    font-size: 3vh;
    color: rgb(255, 160, 77);
    font-family: var(--fuenteSecundaria);
    text-decoration: none; 
    position: relative;
}

.text-menu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 160, 77);
    transition: width 0.3s ease;
}

.text-menu:hover::after {
    width: 100%;
}

.text-menu:hover {
    color: rgb(255, 215, 128);
    text-decoration: none; 
}

.text-menu.active, .text-menu.active::after {
    color: rgb(255, 215, 128);
    width: 100%;
    text-decoration: none; 
}

a {
    text-decoration: none; 
    color: inherit; 
}
    
.menu-referencias li {
    position: relative;
    display: flex;
    align-items: center;
}

.menu-referencias li:last-child::after {
    content: ' |';
    margin-left: 1vh;
    color: rgb(255, 160, 77);
}

.phone-imgg {
    margin: 0;
    padding: 0;
    margin-left: 175vh;
    margin-top: 2.4vh;
    position: absolute;
    padding: 1vh;
    width: 4vh;
    height: 4vh;
    display: block;
}
.txt-phone{
    position: absolute;
    color: rgb(209, 139, 139);
    font-family: var(--fuenteSecundaria);
    font-size: 3vh;
    margin: 0;
    padding: 0;
    margin-left: 182vh;
    margin-top: 3.4vh;
}
.h2-class{
    position: absolute;
    font-family: var(--FuenteTercera);
    color:yellow;
    font-size: 5vh;
    margin-left: 30vh;
    margin-top: 15vh;
}
.h1-class{
    font-family: var(--fuenteCuarta);
    color: rgb(255, 255, 255);
    font-size: 13vh;
    margin-top: 20vh;
    margin-left: 30vh;
}
.texto-principal {
    background: url("./img/fondo.gif") no-repeat center center fixed;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.foto-yo{
    margin: 0;
    padding: 0;
    width: 90vh;
    height: 84vh;
    margin-top: -55vh;
    position: absolute;
    margin-left: 110vh;
    border-radius: 0.5vh;
}

.foto-yo {
    width: 90vh;
    height: 85vh;
    border-radius: 0.5vh;
    margin-bottom: 2vh;
    margin-top: 4vh;

}


.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a2a2a;
    border-top-left-radius: 8vh; 
    border-bottom-left-radius: 8vh; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    padding: 2vh 4vh;
    box-shadow: 0 0 5vh rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    border: 0.2vh solid rgba(255, 255, 255, 0.2); 
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    margin-left: 54.6vh;
}
.icon-container .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}
.txt-x{
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: 31vh;
    font-size: 4vh;
    margin-top: 50vh;
    color: rgb(139, 139, 139);

}

.icon-container .icon:hover {
    background-color: #555;
}

.icon-container .icon span {
    margin-left: 10px;
}
.about-me{
    border-bottom: 0.5vh solid rgb(209, 139, 139); /* Corrige el grosor a '0.5px' */
    background: url("./img/fondo.gif") no-repeat center center fixed;
    width: 100%;
    height: 100%;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.about-h1 {
    padding: 0;
    margin: 0;
    font-family: var(--fuenteMono);
    letter-spacing: -0.4vh;
    word-spacing: -1vh;
    color: yellow;
    font-size: 4vh;
    margin-left: 89vh;
    margin-top: 3vh;
    position: relative;
}

.about-h1::after {
    content: ""; 
    display: block;  
    width: 8vh;  
    height: 0.4vh; 
    background-color: yellow; 
    margin: 0 auto;
    margin-top: 1vh; 
    border-radius: 1vh;  
}
.nombre-about{
    position: absolute;
    font-family: var(--roboto);
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
    font-size: 5.5vh;
    margin-left: 117vh;
    font-weight: 500;
    font-style:inherit;
    margin-top: 17vh;
    color: white;
}
.txt-p-abt{
    font-family: var(--roboto);
    color:yellow;

    position: absolute;
    font-size: 3vh;
    margin-left: 117.4vh;
    margin-top: 25.5vh;

}
.txt-info-abt{
    position: absolute;
    color: rgb(187, 173, 173);
    font-family: var(--roboto);
    font-size: 2vh;
    margin-left: 117vh;
    margin-top: 32vh;
    letter-spacing: 0.1vh;
}
.lista-abt{
    position: absolute;
    list-style-type: none;
    margin-top: 50vh;
    margin-left: 117vh;
    width: 100vh;
    height: 100vh;
    padding: 0;
}
.lista-abt li{
    margin-bottom: 1.5vh;
}
.lista-abt p{

    color: white;
    font-family: var(--roboto);
    font-size: 2.2vh;
    color: rgb(187, 173, 173);
    margin-left: 0vh;
    margin-top: 0vh;
    margin: 0;
    padding: 0 ;

}
.txt-red{
    color: rgb(209, 139, 139);
}
.img-about{
    position: absolute;
    width: 65vh;
    height: 72vh;
    margin-left: 40vh;
    margin-top: 15vh;
    
}
.github-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.github-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    color: rgb(209, 139, 139);
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    width: 10vh;
    height: 10vh;
    margin-left: 245vh;
    margin-top: 135vh;
}

.github-button i {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.github-button span {
    font-family: var(--roboto);
    font-size: 1.2rem;
    font-weight: bold;
}

.github-button:hover {
    background-color: #555;
    transform: scale(1.05);
}
.container-2{
    display: grid;
    border-bottom: 0.5 solid rgb(209, 139, 139);
    grid-template-areas: 
    "skills"
    "hobbies";
    grid-template-columns: auto;
    grid-template-rows: 85vh 110vh;
}
.skills {
    grid-area: skills;
    border-bottom: 0.5vh solid rgb(209, 139, 139); 
    background: url("./img/fondo.gif") no-repeat center center fixed;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.progress-bar-container {
    position: relative; 
    top: 8vh;
    width: 60vh; 
    padding: 2vh 0; 
    margin: 4vh 0;
    margin-left: 119vh;
}

.progress-bar {
    width: 100%;
    height: 4vh; 
    background-color: #979393; 
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.1);
}

.progress {
    height: 100%; 
    line-height: 4vh; 
    width: 0;
    background-color: rgb(209, 139, 139); 
    color: yellow; 
    text-align: center; 
    border-radius: 1vh;
    transition: width 2s ease;
}

.progress-bar-container:hover .progress {
    width: 70%;
}
.progress-bar-container p{
    position: absolute;
    margin-top: -4vh;
    font-size: 3vh;
    color: white;
}
.h2-skills{
    font-family: var(--fuenteMono);
    font-size: 3vh;
    letter-spacing: -0.4;
    margin-top: -40vh;
    margin-left: 8vh;
    color: white;
}
.txt-skills{
    position: absolute;
    color: rgb(187, 173, 173);
    font-family: var(--roboto);
    font-size: 2.6vh;
    margin-left: 8vh;
    margin-top: 32vh;
    letter-spacing: 0.1vh;
}
.txt-skills-2{
    position: absolute;
    color: rgb(187, 173, 173);
    font-family: var(--roboto);
    font-size: 2.6vh;
    margin-left: 8vh;
    margin-top: 50vh;
    letter-spacing: 0.1vh;
}

.hobbies{
    grid-area: hobbies;
    border-bottom: 0.5vh solid rgb(209, 139, 139); 
    background: url("./img/fondo.gif") no-repeat center center fixed;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 5vh; 
    max-width: 100%;
    margin: 5vh auto;
    padding: 0 5vh;
}

.timeline-item {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh; 
}

.timeline-content {
    background-color: #2a2a2a; 
    color: white;
    padding: 4vh;
    border-radius: 1vh;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.5);
    font-family: var(--roboto); 
    width: 80vh;
}

.timeline-content h2 {
    font-size: 4vh;
    margin-bottom: 2vh;
}

.timeline-content h4 {
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
    color: #d18b8b;
}

.timeline-content p {
    font-size: 2vh;
    line-height: 3vh;
}
.escudo-img-pg{
    border-radius: 50%;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 23vh;
    margin-top: -33vh;
    margin-left: 54vh;
}
.escudo-img-amazonia{
    border-radius: 50%;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 23vh;
    margin-top: -33vh;
    margin-left: 54vh;
}

.container-3{
    display: grid;
    border-bottom: 0.5 solid rgb(209, 139, 139);
    grid-template-areas: 
    "rapido"
    ;
    grid-template-columns: auto;
    grid-template-rows: 50vh;
}
.rapido{
    grid-area: rapido;
    border-bottom: 0.5vh solid rgb(209, 139, 139); 
    background: url("./img/fondo.gif") no-repeat center center fixed;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.rapido-h1{
    padding: 0;
    margin: 0;
    font-family: var(--fuenteMono);
    letter-spacing: -0.4vh;
    word-spacing: -1vh;
    color: yellow;
    font-size: 4vh;
    margin-left: 70vh;
    margin-top: 3vh;
    position: relative;
}
.rapdio-h1::after {
    content: ""; 
    display: block;  
    width: 8vh;  
    height: 0.4vh; 
    background-color: yellow; 
    margin: 0 auto;
    margin-top: 1vh; 
    border-radius: 1vh;  
}
.rapido h1{
    margin-left: 70vh;
}

.team-container {
    margin-left: 40vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 5vh 0; 
}

.team-member {
    text-align: center;
}

.team-photo {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5); 
    margin-bottom: 2vh; 
}

.team-member h3 {
    
    font-size: 3.4vh;
    color: #fff;
}

.team-member p {
    font-size: 2vh;
    color: #aaa;
}
.container-4{
    
    display: grid;
    border-bottom: 0.5 solid rgb(209, 139, 139);
    grid-template-areas: 
    "contacto-container"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: 120vh 10vh;
}
.contacto-container{
    
    grid-area: contacto-container;
    border-bottom: 0.5vh solid rgb(209, 139, 139); 
    background: url("./img/fondo.gif") no-repeat center center fixed;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.contact-form {
    grid-area: contacto-container;
    border-bottom: 0.5vh solid rgb(209, 139, 139); 
    background: url("./img/fondo.gif") no-repeat center center fixed;
    background-size: cover; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.contact-form form {
    width: 60%;
    background-color: #2a2a2a;
    padding: 4vh;
    border-radius: 1vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form label {
    font-size: 2vh;
    font-family: var(--roboto);
    color: white;
    margin-bottom: 1vh;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 1.5vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: 0.5vh;
    background-color: #333;
    color: white;
    font-size: 2vh;
    font-family: var(--roboto);
}

.contact-form textarea {
    height: 20vh;
    resize: none;
}

